html, body, .root {
    height: 100%;
  }
  
body, .App {
  text-align: center;
  caret-color: transparent;
  /* background: white; */
}

input {
  caret-color: auto;
}

body {
    line-height: 1.5;
}

/* Header */

.App-header {
    background-color: azure;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    height: 66px;
    display: flex;

    padding: 10px 0;
    font-family: Vollkorn;
}

.App-header > div{
    flex: auto;
}

.App-header h1 {
    cursor: pointer;
    font-weight: 600;
    display:inline-flex;
    color: #cc6969;
    position: relative;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  

.App-logo {
    height: 6vmin;
    pointer-events: none;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      margin-bottom: 10px;
      margin-right: 30px;
      animation: App-logo-spin infinite 20s linear;
    }
  }  

.claude-switch {
  margin-left: 30px;
  text-align: left;
  align-self: center;
}

.username-div {
  flex: auto;
  text-align: right;
  align-self: center;
}

.username-div > input {
  margin-right: 30px;
  border-radius: 8px;
  text-align: center;
}

/* Read book page */
.read-book {
    position: relative;
}
.read-book h2 {
    padding: 20px 0px 10px;
    margin-top: 10px;
    /* margin: 5px; */
    font-family: Vollkorn;
}
.read-book-content {
    width: 100%;
    padding: 5px 0 0;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: center
}

/* Chat panel */
.chat-panel {
    height:100vh;
    background-color: #dedede;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-panel h1 {
    background-color: #262626;
    overflow: visible;
    width: 100%;
    text-align: center;
    color: white;
    min-width: 25vw;
    font-weight: 100;
}

.chat-panel-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    flex: 1 0 0;
}

.chat-panel-messages {
    padding: 20px 0;
    /* max-width: 900px; */
    /* position: relative;  */
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
    overflow-y: scroll;
}

.Messages-message {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    flex-direction: row-reverse;
    text-align: left; 
  }

.Messages-message.userName {
    justify-content: flex-end;
    flex-direction: row;
    text-align: right;
  }

.Message-content {
    display: inline-block;
}

.Messages-list {
    padding-right:1rem;
}

.userName > .Message-content {
    align-items: flex-end;
}

.Messages-message > .avatar {
    /* height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px; */
    margin: 0 10px 0;
  }

  .Message-content > .displayName {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
  }
  
  .Message-content > .text-content {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: peru;
    color: white;
    display: inline-block;
    white-space: pre-line
  }

.userName > .Message-content .text-content {
    background-color: cornflowerblue;
    white-space: pre-line
  }

.chat-panel-input-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
  }
  
.chat-panel-input-form > input{
    /* padding: 5px; */
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid cornflowerblue;
    flex-grow: 1;
    flex:auto;
}

.chat-panel-input-form > button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
}

/* Reader Panel */
.reader-panel {
    /* height:500vh; */
    /* min-height: 90; */
    min-width: 50vw; 
    border: 1px solid black;
    flex-grow: 1
}

/* home page */

.books-home-content {
    padding: 0 0 80px;
    flex: 1;
}

.bookshelf {
    position: relative;
    padding: 0 10px 20px;
}

.bookshelf h2 {
    padding: 20px 0px 10px;
}

@media (min-width: 600px) {
    .bookshelf {
      padding: 0 20px 40px;
    }
  }

.bookshelf-title {
  margin: 5px;
  border-bottom: 1px solid #dedede;
  font-family: Vollkorn;
}

.bookshelf-books {
  text-align: center;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-author {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-author {
  color: #999;
}

.no-books{
    margin-top: 10px;
    color: #999;
    font-style: italic;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-progress {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-progress h3 {
  position: relative;
  bottom: -5px;
  right: -5px;
  font-size: 15px;
}

/* book cover */
.book-cover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #eee;
    cursor: pointer;
 }

 .book-cover-title {
padding: 20px 10px 0;
text-align: center;
font-size: 0.8em;
 }
  
  .loadersmall {
    margin-top: 5px;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
